# Created by .ignore support plugin (hsz.mobi)
### idea template
/target
/.project
/.settings
/.classpath
.idea
.idea/libraries
/.DS_Store
/logs

# IntelliJ project files
*.idea
*.ipr
*.iws
*.iml
*.class

